

.menu{
    display: none;
}
.menuactive{
    transform: translateX(-100%)!important;
    transition: all 0.6s ease-in-out;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .menu{
        display: block;
    }
    .menuItem{
        display: none!important;        
    }
    .active{
        display: block;
        transform: translateX(0%);
        transition: all 0.6s ease-in-out;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .menu{
        display: block;
    }
    .menuItem{
        display: none!important;        
    }
    .active{
        display: block;
        transform: translateX(0%);
        transition: all 0.6s ease-in-out;
    }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .menu{
        display: block;
    }
    .menuItem{
        display: none!important;        
    }
    .active{
        display: block;
        transform: translateX(0%);
        transition: all 0.6s ease-in-out;
    }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}
/*x-large devices (dekstops,1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/*Extra extra  large devices (larges desktops, 1200px and up)*/
@media (min-width: 1400px) {

}