*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Cormorant Garamond', serif; */
}
.slider{
  /* background:linear-gradient(to right, #4ca1af , #c4e0e5),url(../src/img/background.jpg); */
  background:linear-gradient(to left, #041741b7 , #041741b7),url(../src/img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}